<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blog</title>
<link rel="shortcut icon" href="/static/pic/1616.jpg">
<script src="/static/js/jquery.js"></script>
<link href="/static/css/page.css" rel="stylesheet" type="text/css" />
{% block style %}{% endblock %}
<link href="/static/css/back.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% include "head.html" %}
{% block content %}{% endblock %}
{% include "foot.html" %}
<script src="/static/js/csrf.js"></script>
</body>
</html>
