<div class="block">
    <div class="main comment">
		{% for article in result_article %}
    	<h3 class="nctitle">热度({{ article.comment_count }})</h3>
		{% endfor %}
		<ol class="notes">

		{% for comment in result_comment %}
			<li class="note reblog chen">
				<a href="#" title="someone" class="user">{{ comment.from_addr }}</a>

				{% if comment.to_addr %}
					对
				<a href="#" class="user">{{ comment.to_addr }}</a>
				{% endif %}

				说：
				{{ comment.msg }}
				<!--</span>-->
				<div class="clear"></div>
			</li>
		{% endfor %}	
		</ol>
	</div>
</div>
