<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
  <head>
	<title>发私信｜CYY</title>
	<meta name="keywords" content="发私信｜CYY"/>
    <meta http-equiv="x-ua-compatible" content="ie=emulateie7"/>
    <meta http-equiv="content-type" content="text/html;charset=uft-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>
    <meta http-equiv="content-script-type" content="text/javascript"/>
    <meta name="author" content=""/>
    <meta name="description" content=""/>
    <link href="http://l.bst.126.net/s/pt_lib_macro.css" type="text/css" rel="stylesheet"/>
    <link href="./pt_page_prevMessage.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
    .g-bdc{border-top:1px solid #d4d4d5;}
    </style>
  </head>

  <body class="p-body4 p-mesarea">
		<div class="g-bd4">
			<div class="g-bdc">
		        <div class="g-mn">
		            <div class="g-box2">
		            	<h2 class="w-fttl">发私信给CYY</h2>
		            </div>
		            <div class="g-box1">
		            	<div class="m-barea">
                            <!--
		                	<div class="f-tar sr-fc1">你还可以输入<span class="ztag"></span>字</div>
                            -->
		                    <div class="barea w-inputxt">
		                    	<textarea class="ztag"></textarea>
		                    </div>
		                    <div class="f-tar"><a href="#" class="w-bbtn w-bbtn-0 ztag">发　送</a><a href="#" class="w-bbtn ztag">取　消</a></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
  <div style="display:none;"  class="fa-init"><textarea rows="1" cols="1" name="js" >this.p={blogId:1519571,blogName:'tianzizhuoer',pubBlogId:668717};</textarea>

</div>

  </body>
</html>
